@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|Crimson+Text|Lora|PT+Sans|Pacifico');
body{background-image:url("https://images.unsplash.com/photo-1551720899-fb12eea52824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:100%;
  z-index:10;
  position:relative;
    font-family:"PT sans";
}
#header{
  display:block;
  text-align:center;
  padding:10px 0px;
  font-size:1.2em;
  height:30vh;
  width:50%;
  margin-top:12vh;
}
h1{
font-family: 'Pacifico', cursive;

}
#frontui {
  max-width: 50vw;
  height: 70vh;
  
  font-family:"Crimson Text";
}

ol{
  width:40vw;
  font-family:"Cinzel";
  
}
li{
  text-align:left;
  margin-left:15vw;
  font-family:"Cinzel"
    
}
form {
  padding: 0px;
}
form#newBookForm{
  text-align:center;
  padding-bottom:50px;
  height:3rem;
  
}
div#bookdetail{
  text-align:center;
}
button{font-size:19px;
 padding:10px;
  background-color:rgb(140, 112, 56);
  box-shadow:  inset 0px 0px 10px 0px rgba(0,0,0,0.2),
               1px 1px 5px -1px rgba(0,0,0,0.3);

  color:white;
  border-radius:10px;
  border:none;
  outline:none;
  
  
}
.addComment, .deleteBook{
  padding:5px;
  height:3em;
  margin:10px;
 
  
}
.deleteAllBooks{
  margin-left:22vw;
  height:50px;
  width:100px;
}
.tile{
  margin:0px;
  padding:0px;
}
input{
  text-indent:10px;
  height:45px;
  padding:5px;
  box-shadow:2px 2px 2px -5px rgba(0,0,0,0.5);
}
.animate{
  width:140%;
  transition:width 22s;
}